/* PHASE 6: Sidebar */
a.profile-picture > img {
        display: block;
        border-radius: 6px;
        border: black solid 1px;
        position: relative;
        margin-top: -130px;
        overflow: hidden;

}
a.profile-picture {
        position: relative;
        z-index: 10;
        overflow: hidden;
}

.profile-info h2{
        font-size: x-large;
        font-weight: bold;
        padding: 20px 0 20px 0;
}

.profile-nav li:first-child {
        border-top: lightgray solid 1px;
}

.profile-nav li {
        border-bottom: lightgray solid 1px;
}

.profile-nav li {
        font-weight: bold;
}

.profile-nav li:hover {
        background-color: gray;
}
